

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} NewsApp {% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">NewsApp</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'news' %}">Articles</a></li>

            {% if user.is_authenticated %}

            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

            {% else %}

            <li><a href="{% url 'login' %}">Login</a></li>

            {% endif %}

        </ul>
    </nav>

    {% if request.path == '/' %}
    <header class="hero">
        <h1>Stay Informed with Latest News</h1>
        <p>Your trusted source for breaking news and in-depth coverage</p>
    </header>
    {% endif %}

    <main class="container ">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 NewsApp. All rights reserved.</p>
    </footer>
</body>
</html>