{% extends 'base/base.html' %}

{% block title %} news-NewsAPP {% endblock %}

{% block content %}


<article class="article-detail">
    
    <header class="article-header">
        
        <span class="category">{{ posts.category }}</span>
        <h1>{{ posts.title }}</h1>
        <div class="article-meta">
            <span class="author">By {{ posts.author }}</span>
            <span class="date">{{ posts.created_at }}</span>
        </div>
    </header>
    <img src="{{ posts.image.url }}" alt="Article Image" class="article-image">
    <div class="article-content">
        <p>{{ posts.content }}</p>
</article>



{% endblock %}