{% extends 'base/base.html' %}

{% block title %} Articles-NewsAPP {% endblock %}

{% block content %}


<section class="articles-list">
    <div class="articles-header">
        <h1>Latest Articles</h1>
        
        <div class="categories-filter">
            <a href="{% url 'news' %}">
                <button class="category-pill">All</button>
                </a>
            {% for category in links %}
            <a href="{{ category.get_url }}">
            <button class="category-pill">{{ category.name }}</button>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="articles-grid">
        {% for post in pages %}
        <article class="article-card">
            <img src="{{ post.image.url }}" alt="Article Image">
            <div class="article-content">
                <span class="category">{{ post.category }}</span>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content|truncatewords:20 }}</p>
                <a href="{% url 'article' post.slug %}" class="read-more">Read More</a>
                <p>{{ post.created_at }}</p>

                <div class="article-social">
                    <div class="social-stat">
                        <i class="icon-heart"></i>
                        <span>{{ post.likes_count }} likes</span>
                    </div>
                    <div class="social-stat">
                        <i class="icon-comment"></i>
                        <span>{{ post.total_comments }} comments</span>
                    </div>
            </div>
        </article>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if pages.has_previous %}
        <a href="?page={{ pages.previous_page_number }}">
        <button class="pagination-button">&laquo; Previous</button>
        </a>
        {% endif %}
        <div class="pagination-numbers">
            <button class="pagination-number active">{{pages.number}}</button>
        </div>
        {% if pages.has_next %}
        <a href="?page={{ pages.next_page_number }}">
        <button class="pagination-button">Next &raquo;</button>
        </a>
        {% endif %}
    </div>
</section>


{% endblock %}